#home-box{
    color: aliceblue;
    background-image: linear-gradient(to right, #014882, #007e0f);
}
#profile-box{
    color: aliceblue;
    background-image: linear-gradient(to right, #014882, #007e0f);
}
#home-box:hover {
    color: #f2ff00;
}
#profile-box:hover {
    color: #f2ff00;
}