#home{
    text-decoration: none; /* Menghilangkan underline */
    color: inherit; /* Mengambil warna default teks */
    cursor: pointer; /* Menampilkan kursor tangan saat dihover */

}
#profil{
    text-decoration: none; /* Menghilangkan underline */
    color: inherit; /* Mengambil warna default teks */
    cursor: pointer; /* Menampilkan kursor tangan saat dihover */
}
.text-Sidebar{
    margin-left: 60px;
   
}
.sidebar ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 600px;
}
.menu{
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: rgb(2, 193, 226);
}
ul li{
    width: 100px;
    margin-left: 40px;
    margin-bottom: 20px; /* Memberikan jarak 10px antara setiap elemen li */
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
}


